<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Common Fragment</title>
</head>
<body>
<!--顶部导航栏-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="navbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" th:text="${#authentication.name}"> Username </a>
    <form class="container" action="#" th:action="@{/integrated/search}">
        <input class="form-control form-control-dark w-100" type="text" name="word" placeholder="综合搜索" aria-label="Search">
    </form>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <form class="nav-link" th:action="@{/logout}" method="post">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input class="button btn-outline-success" type="submit" value="登出">
            </form>
<!--            <a class="nav-link" href="/logout">登出</a>-->
        </li>
    </ul>
</nav>
<!--侧边导航栏-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar position-fixed" th:fragment="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#" th:href="@{/main}"
                   th:class="${activeUrl} == 'mainPage' ? 'nav-link active' : 'nav-link'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                    介绍 <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#zhonggu" data-toggle="collapse">
                    <svg class="feather bi bi-book" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"  xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 018.5 2.5v11a.5.5 0 01-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 010 13.5v-11a.5.5 0 01.276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 01.22-.103 12.958 12.958 0 012.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 001 2.82z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 007.5 2.5v11a.5.5 0 00.854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0016 13.5v-11a.5.5 0 00-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 00-.799-.34 12.96 12.96 0 00-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0115 2.82z" clip-rule="evenodd"/>
                    </svg>
                    中古近代音韵
                </a>
                <div id="zhonggu" class="collapse">
                    <a class="nav-link" href="#" th:href="@{/zhonggu/guangyuns(pageNum=1)}" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        广韵</a>
                    <a class="nav-link" href="#"  th:href="@{/yunshu}" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        集韵 </a>
                    <a class="nav-link" href="#"  th:href="@{/yunshu}" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        中原音韵 </a>
                    <a class="nav-link" href="#"  th:href="@{/yunshu}" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        中州音韵 </a>
                    <a class="nav-link" href="#"  th:href="@{/yunshu}" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        蒙古字韵 </a>
                    <a class="nav-link" href="#"  th:href="@{/yunshu}" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        洪武正韵 </a>

                </div>
            </li>
            <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#yunshuyuntu" th:class="${activeUrl} == 'yunshu' ? 'nav-link active' : 'nav-link'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg>
                        韵书韵图
                    </a>
                    <div id="yunshuyuntu" class="collapse">
                        <a class="nav-link" data-toggle="collapse" href="#yanjingdongbei" >
                            <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                            </svg>
                            燕京东北地区</a>
                            <div id="yanjingdongbei" class="collapse">
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    合并字学集韵便 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 览
                                </a>
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    元韵谱
                                </a>
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    正音捃言
                                </a>
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    拙庵韵悟
                                </a>
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    音泭
                                </a>
                                <a class="nav-link" href="#" th:href="@{/yunshu/a}">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    韵籁
                                </a>
                                <a class="nav-link" href="#" th:href="@{/yunshu/jyzh(pageNum=1)}">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    京音字汇
                                </a>
                                <a class="nav-link" href="#" th:href="@{/yunshuS/gyjydzb(pageNum=1)}">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    国音京音对照表
                                </a>
                                <a class="nav-link" href="#" th:href="@{/yunshu/gycyzh(pageNum=1)}">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    国音常用字汇
                                </a>

                            </div>
                        <a class="nav-link" href="#zhengyinlei" data-toggle="collapse" >
                            <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                            </svg>
                            正音类 </a>
                            <div id="zhengyinlei" class="collapse">
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                正音撮要
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                莎彝尊正音咀华
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                正音通俗表
                            </a>
                        </div>
                        <a class="nav-link" href="#zhongyuanxibei" data-toggle="collapse" >
                            <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                            </svg>
                            中原、西北地区 </a>
                            <div id="zhongyuanxibei" class="collapse">
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                青郊杂著文韵考 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 衷六声会编
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                等韵精要
                            </a>
                            </div>
                        <a class="nav-link" href="#shandong" data-toggle="collapse" >
                            <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                            </svg>
                            山东地区 </a>
                            <div id="shandong" class="collapse">
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    韵略汇通
                                </a>
                            </div>
                        <a class="nav-link" href="#jianghuai" data-toggle="collapse" >
                            <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                            </svg>
                            江淮官话 </a>
                            <div id="jianghuai" class="collapse">
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    书文音义便考私 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 编
                                </a>
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    韵法横图韵法直 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 图
                                </a>
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    五声反切正韵
                                </a>
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    说音
                                </a>
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    古今中外音韵通 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 例
                                </a>
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    马鸣鹤正音新纂
                                </a>
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    徐氏类音字汇
                                </a>

                            </div>
                        <a class="nav-link" href="#xinan" data-toggle="collapse" >
                            <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                            </svg>
                            西南官话 </a>
                            <div id="xinan" class="collapse">
                                <a class="nav-link" href="#">
                                    <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                    </svg>
                                    兰茂韵略易通
                                </a>
                            </div>

                    </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#hanwai" data-toggle="collapse" th:class="${activeUrl} == 'hanwai' ? 'nav-link active' : 'nav-link'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
                        <line x1="18" y1="20" x2="18" y2="10"></line>
                        <line x1="12" y1="20" x2="12" y2="4"></line>
                        <line x1="6" y1="20" x2="6" y2="14"></line>
                    </svg>
                    汉外译音
                </a>
                <div id="hanwai" class="collapse">
                    <a class="nav-link" href="#luomazimu" data-toggle="collapse" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        罗马字母标音</a>
                    <div id="luomazimu" class="collapse">
                        <a class="nav-link" href="#">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            葡汉辞典
                        </a>
                        <a class="nav-link" href="#">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            西儒耳目资
                        </a>
                        <a class="nav-link" href="#">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            五车韵府
                        </a>
                        <a class="nav-link" href="#">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            英华韵府历阶英 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 华分韵撮要
                        </a>
                        <a class="nav-link" href="#">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            汉语官话课本
                        </a>
                        <a class="nav-link" href="#" th:href="@{/hanwai/zej(pageNum=1)}">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            语言自迩集
                        </a>
                        <a class="nav-link" href="#" th:href="@{/hanwai/xjl(pageNum=1)}">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            寻津录
                        </a>
                        <a class="nav-link" href="#">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            英华字典
                        </a>
                        <a class="nav-link" href="#">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            南京字汇
                        </a>
                        <a class="nav-link" href="#">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            官话课本
                        </a>
                        <a class="nav-link" href="#">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            南京官话
                        </a>
                        <a class="nav-link" href="#">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            华英字典
                        </a>
                        <a class="nav-link" href="#">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            官话萃珍
                        </a>
                        <a class="nav-link" href="#">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            中国音韵学研究· &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 汉语方言字汇
                        </a>
                        <a class="nav-link" href="#" th:href="@{/hanwai/hywyjd(pageNum=1)}">
                            <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                            </svg>
                            华英文义津逮
                        </a>
                    </div>
                    <a class="nav-link" href="#pianjiaming" data-toggle="collapse" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        片假名标音 </a>
                        <div id="pianjiaming" class="collapse">
                            <a class="nav-link" href="#" th:href="@{/hanwai/thzy(pageNum=1)}">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                唐话纂要
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                唐译便览
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                唐语便用
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                唐音雅俗语类
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                南山考讲记
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                中国南部会话
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                日清字音鉴
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                支那声音字汇
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                官话问答便语
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                琉球馆译语
                            </a>
                        </div>
                    <a class="nav-link" href="#yanwenbiaoyin" data-toggle="collapse" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        谚文标音 </a>
                        <div id="yanwenbiaoyin" class="collapse">
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                东国正韵
                            </a>
                            <a class="nav-link" href="#" th:href="@{/hanwai/sstj(pageNum=1)}">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                四声通解
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                老乞大谚解
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                朴通事谚解
                            </a>
                            <a class="nav-link" href="#" th:href="@{/hanwai/hyqmyj(pageNum=1)}">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                华英启蒙谚解
                            </a>
                        </div>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#yayun" data-toggle="collapse">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                        <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                        <polyline points="2 17 12 22 22 17"></polyline>
                        <polyline points="2 12 12 17 22 12"></polyline>
                    </svg>
                    讲唱文学押韵资料
                </a>
                <div id="yayun" class="collapse">
                    <a class="nav-link" href="#" th:href="@{/yayun/baojuan}" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        宝卷</a>
                    <a class="nav-link" href="#"  th:href="@{/yayun/qinqiang}" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        秦腔 </a>
                    <a class="nav-link" href="#"  th:href="@{/yayun/quzici}" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        曲子词 </a>
                    <a class="nav-link" href="#"  th:href="@{/yayun/zaju}" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        杂剧 </a>
                    <a class="nav-link" href="#sanqu" data-toggle="collapse" >
                        <svg class="bi bi-caret-right-fill" width="3em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                        </svg>
                        散曲 </a>
                        <div id="sanqu" class="collapse">
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                元代散曲
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                明代散曲
                            </a>
                            <a class="nav-link" href="#">
                                <svg class="bi bi-caret-right" width="4.5em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 000-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 001.659.753z" clip-rule="evenodd"/>
                                </svg>
                                清代散曲
                            </a>
                        </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/fangzhi}"
                   th:class="${activeUrl} == 'fangzhiPage' ? 'nav-link active' : 'nav-link'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                        <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                        <polyline points="2 17 12 22 22 17"></polyline>
                        <polyline points="2 12 12 17 22 12"></polyline>
                    </svg>
                    方志资料
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"
                   th:class="${activeUrl} == 'fangzhiPage' ? 'nav-link active' : 'nav-link'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                        <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                        <polyline points="2 17 12 22 22 17"></polyline>
                        <polyline points="2 12 12 17 22 12"></polyline>
                    </svg>
                    普通话基础方音
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>数据操作</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/dataAmend}" th:class="${activeUrl} == 'dataAmend' ? 'nav-link active' : 'nav-link'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <line x1="16" y1="13" x2="8" y2="13"></line>
                        <line x1="16" y1="17" x2="8" y2="17"></line>
                        <polyline points="10 9 9 9 8 9"></polyline>
                    </svg>
                    修正语料库资料
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/visualize}" th:class="${activeUrl} == 'visualize' ? 'nav-link active' : 'nav-link'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <line x1="16" y1="13" x2="8" y2="13"></line>
                        <line x1="16" y1="17" x2="8" y2="17"></line>
                        <polyline points="10 9 9 9 8 9"></polyline>
                    </svg>
                    可视化数据
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/excel/export}"
                   th:class="${activeUrl} == 'exportExcel' ? 'nav-link active' : 'nav-link'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <line x1="16" y1="13" x2="8" y2="13"></line>
                        <line x1="16" y1="17" x2="8" y2="17"></line>
                        <polyline points="10 9 9 9 8 9"></polyline>
                    </svg>
                    导出Excel表格
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/excel/import}"
                   th:class="${activeUrl} == 'importExcel' ? 'nav-link active' : 'nav-link'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <line x1="16" y1="13" x2="8" y2="13"></line>
                        <line x1="16" y1="17" x2="8" y2="17"></line>
                        <polyline points="10 9 9 9 8 9"></polyline>
                    </svg>
                    导入Excel表格
                </a>
            </li>
        </ul>
    </div>
</nav>
<!--韵书韵图数据表格头-->
<thead th:fragment="yunshuThead">
<tr>
    <th></th>
    <th></th>
    <th>HBZXJY</th>
    <th>YYP</th>
    <th>WFYY1</th>
    <th>WFYY2</th>
    <th>ZAYW</th>
    <th>XSYX</th>
    <th>YYCW</th>
    <th>HZTY</th>
    <th>LSYJ</th>
    <th>YF</th>
    <th>YL</th>
    <th>YYFY</th>
    <th>NBFY</th>
    <th>JYZH</th>
    <th>GJDZ</th>
</tr>
<tr>
    <th></th>
    <th></th>
    <th>徐孝、张元善</th>
    <th>乔中和</th>
    <th>樊腾凤</th>
    <th>年希尧</th>
    <th>赵绍箕</th>
    <th>释阿摩利谛</th>
    <th>李光地、王兰生</th>
    <th>都四德</th>
    <th>李汝珍</th>
    <th>徐鉴</th>
    <th>华长忠</th>
    <th>裕恩</th>
    <th>夏鸾翔</th>
    <th>王璞</th>
    <th>王璞</th>
</tr>
<tr>
    <th>#</th>
    <th>單字</th>
    <th>1602</th>
    <th>1611</th>
    <th>1661-1670</th>
    <th>1711</th>
    <th>1674</th>
    <th>1699-1704</th>
    <th>1726</th>
    <th>乾隆晚年</th>
    <th>1805</th>
    <th>1817</th>
    <th>1805-1858</th>
    <th>1840</th>
    <th>1863</th>
    <th>1912</th>
    <th>1921</th>
</tr>
</thead>
<!--广韵数据表格头-->
<thead th:fragment="guangyunThead">
    <tr>
        <th>id</th>
<!--        <th>shn</th>-->
<!--        <th>n</th>-->
<!--        <th>code</th>-->
        <th>字</th>
        <th>反切</th>
        <th>声</th>
        <th>韵</th>
        <th>口</th>
        <th>等</th>
        <th>调</th>
        <th>摄</th>
        <th>声母拟音</th>
        <th>韵母拟音</th>
        <th>拟音</th>
        <th style="text-align: left">注释</th>
    </tr>
</thead>
</body>
</html>