<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>元明清民国官话语音语料库系统</title>
		<!-- Bootstrap core CSS -->
		<link href="/asserts/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="/asserts/css/signin.css" rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" action="dashboard.html" th:action="@{/login}" method="post">
			<img class="mb-4" src="/asserts/img/corpus1.svg"  width="180" height="180" >
			<h1 class="h4 mb-3 font-weight-normal">元明清民国官话语音语料库</h1>
			<br>
			<p th:if="${param.error}" style="color: red">登录错误,请检查用户名密码</p>
			<label class="sr-only">Username</label>
			<input id="username" name="username" type="text" class="form-control" placeholder="用户名" required="" autofocus="">
			<label class="sr-only">Password</label>
			<input id="password" name="password" type="password" class="form-control" placeholder="密码" required="">
			<div class="checkbox mb-3">
				<label>
          <input type="checkbox" value="remember-me"> 记住我
        </label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit"> 登录 </button>
			<p class="mt-5 mb-3 text-muted">© 2019-2020</p>
			<a class="btn btn-sm">中文</a>
			<a class="btn btn-sm">English</a>
		</form>

	</body>

</html>